{
  "parser": "babel-eslint",
  "env": {
    "browser": true
  },
  "rules": {
    "quotes": 0,
    "no-extra-semi": [1],
    "no-underscore-dangle": [0],
    "no-unused-vars": [1],
    "strict": [0],
    "no-console": [1],
    "curly": 0,
    "no-undef": 2
  }
}
