[access]
	inheritFrom = Private-Projects
[access "refs/*"]
	owner = group user/Andy Dufilie (adufilie)
[access "refs/for/refs/*"]
	read = group user/Andy Dufilie (adufilie)
	push = group user/Andy Dufilie (adufilie)
	label-Code-Review = -2..+2 group user/Andy Dufilie (adufilie)
	label-Verified = -1..+1 group user/Andy Dufilie (adufilie)
	rebase = group user/Andy Dufilie (adufilie)
	removeReviewer = group user/Andy Dufilie (adufilie)
	submit = group user/Andy Dufilie (adufilie)
[access "refs/heads/*"]
	read = group user/Andy Dufilie (adufilie)
	create = group user/Andy Dufilie (adufilie)
	push = +force group user/Andy Dufilie (adufilie)
	pushMerge = group user/Andy Dufilie (adufilie)
[access "refs/tags/*"]
	push = +force group user/Andy Dufilie (adufilie)
	pushTag = group user/Andy Dufilie (adufilie)
	pushSignedTag = group user/Andy Dufilie (adufilie)
