.list-group-item:first-child {
    margin-bottom: 0;
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;
}

.list-group-item:last-child {
    margin-bottom: 0;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
}

.list-group-item {
    width: 100%;
    outline: none;
    padding: 3px 15px;
}

.list-group {
    height:100%;
    margin-bottom: 5px;
    min-width:max-content;
}

.list-group-item.active, .list-group-item.active:focus {
    z-index: 2;
    color: -webkit-text;
    background-color: #80CCFF;
    border: 1px solid #ddd;
}

.list-group-item.active:hover {
    z-index: 2;
    color: -webkit-text;
    background-color: #99D6FF;
    border: 1px solid #ddd;
}

button.list-group-item:hover {
    background-color: rgba(153, 214, 255, 0.4);
}

.btn {
    font-size: inherit;
}

.btn-default {
    width:100%;
}

.btn-group, .btn-group-vertical {
    width: 100%;
}

ul.dropdown-menu {
    width:100%;
    overflow:auto;
}

.react-bs-container .table-container>table>tbody>tr>td, .react-bs-container .table-container>table>thead>tr>th, .react-bs-container .table-header>table>thead>tr>th .table-header-column {
    line-height: 14px;
}

.table {
    font-size: inherit;
}

.table-header {
    background-color: #eee;
    color: -webkit-text;
}

.weave-tool {
    font-family: "Helvetica", Times, serif;
    font-size: 11px;
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
}

.weave-panel {
    font-family: Verdana, sans-serif;
    font-size: 10px;
    font-weight: bold;
    font-style: normal;
    text-decoration: none;
}