.list-group-item:first-child {
    margin-bottom: 0;
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;
}

.list-group-item:last-child {
    margin-bottom: 0;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
}

.list-group-item {
    width: 100%;
    outline: none;
    padding: 3px 15px;
}

.list-group {
    height:100%;
    margin-bottom: 5px;
    min-width:max-content;
}

.list-group-item.active, .list-group-item.active:focus {
    z-index: 2;
    color: -webkit-text;
    background-color: #80CCFF;
    border: 1px solid #ddd;
}

.list-group-item.active:hover {
    z-index: 2;
    color: -webkit-text;
    background-color: #99D6FF;
    border: 1px solid #ddd;
}

button.list-group-item:hover {
    background-color: rgba(153, 214, 255, 0.4);
}

.btn {
    font-size: inherit;
}

.btn-default {
    width:100%;
}

.btn-group, .btn-group-vertical {
    width: 100%;
}

.c3-tooltip td.value {
	white-space: nowrap;
}

.c3-tooltip td.name {
	white-space: nowrap;
}

ul.dropdown-menu {
    width:100%;
    overflow:auto;
}

.react-bs-container .table-container>table>tbody>tr>td, .react-bs-container .table-container>table>thead>tr>th, .react-bs-container .table-header>table>thead>tr>th .table-header-column {
    line-height: 14px;
}

.table {
    font-size: inherit;
}

.table-header {
    background-color: #eee;
    color: -webkit-text;
}

.weave-tool {
    font-family: Roboto, sans-serif;
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
}

.weave-panel {
    font-family: Roboto, sans-serif;
    font-size: 16px;
    font-weight: bold;
    font-style: normal;
    text-decoration: none;
}

.weave-menu {
	box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 6px, rgba(0, 0, 0, 0.12) 0px 1px 4px;
	-webkit-box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 6px, rgba(0, 0, 0, 0.12) 0px 1px 4px;
	-moz-box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 6px, rgba(0, 0, 0, 0.12) 0px 1px 4px;
	border-radius: 2;
	background-color: #FFFFFF;
	padding-top: 5;
	padding-bottom: 5;
	user-select: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	cursor: pointer;
	z-index: 40; /* max z-index value */
}

.weave-menubar {
	border-bottom-style: solid;
	user-select: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	cursor: default;
	z-index: 40; /* max z-index */
	border-bottom-width: 2px;
	border-bottom-color: #E6E6E6;
	background-color: #F8F8F8;
	/*box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 1px, rgba(0, 0, 0, 0.12) 0px 0px 1px;
	-webkit-box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 1px, rgba(0, 0, 0, 0.12) 0px 0px 1px;
	-moz-box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 1px, rgba(0, 0, 0, 0.12) 0px 0px 1px;*/
}

.weave-menubar-item {
	padding-top: 2;
	user-select: none;
	padding-bottom: 2;
	padding-left: 10;
	padding-right: 10;
}

.weave-menubar-item-bold {
	font-weight: bold;
}

.weave-menubar-item:hover {
	background-color: rgba(153, 214, 255, 0.4);
}

.weave-menubar-item:active {
	background-color: #80CCFF;
}

.weave-menuitem {
	padding-left: 20;
	padding-right: 20;
	background-color: rgba(255, 255, 255, 1);
	justify-content: space-between
}

.weave-menuitem:hover {
	background-color: rgba(153, 214, 255, 0.4)
}

.weave-menuitem:active {
	background-color: #80CCFF
}

.weave-menuitem-disabled {
	color: #C1C1C1;
}

.weave-menuitem-disabled:hover {
	background-color: #FFFFFF;
}

.weave-menuitem-label {
	white-space: nowrap
}

.weave-menuitem-label-padding-left {
	padding-left: 5
}
.weave-menuitem-label-padding-right {
	padding-right: 5
}

.weave-menu-divider {
	margin-top: 7;
	margin-right: 0;
	margin-bottom: 8;
	margin-left: 0;
	height: 1;
	border: "none";
	opacity: 1;
	background-color: rgb(224, 224, 224)
}

.weave-dialog-overlay {
	background-color: #ccc;
    opacity: .5;
}

.weave-window {
	resize: both;
    overflow: hidden;
    border-style: solid;
    border-width: 1px;
    border-color: #E6E6E6;
	background-color: #FFFFFF;
    box-shadow: 0px 0px 20px 1px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0px 0px 20px 1px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 0px 20px 1px rgba(0, 0, 0, 0.2);
}

/* same weave-menubar but can be customized */
.weave-window-header {
	border-bottom-style: solid;
	user-select: none;
	padding: 5;
	-webkit-user-select: none;
	-moz-user-select: none;
	cursor: default;
	border-bottom-width: 1px;
	border-bottom-color: #E6E6E6;
	background-color: #F8F8F8;
}

.weave-window-content {
	padding: 5
}

.weave-window-footer {
	border-top-style: solid;
	user-select: none;
	padding: 5;
	-webkit-user-select: none;
	-moz-user-select: none;
	cursor: default;
	border-top-width: 1px;
	border-top-color: #E6E6E6;
	background-color: #F8F8F8;
}

.weave-window-footer-input {
	margin-left: 5;
	margin-right: 5;
}

.rc-slider {
    position: relative;
    height: 2px;
    width: 100%;
    border-radius: 3px;
    background-color: #D0D0D0;
    box-sizing: border-box;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.rc-slider-track {
    position: absolute;
    left: 0;
    height: 2px;
    border-radius: 6px;
    background-color: #D0D0D0;
    z-index: 1;
}

.rc-slider-dot {
    position: absolute;
    top: -3px;
    margin-left: 0px;
    width: 1px;
    height: 8px;
    border: 1px solid #D0D0D0;
    background-color: #fff;
    cursor: pointer;
    /* border-radius: 50%; */
    vertical-align: middle;
}

.rc-slider-dot:first-child {
    margin-left: -1px
}
.rc-slider-dot:last-child {
    margin-left: -1px;
}

.rc-slider-dot-active {
    border-color: #D0D0D0;
}

.rc-slider {
    background-color: #D0D0D0;
}

.weave-tree-view {
	user-select: none;
	-webkit-user-select: none;
}

span.weave-tree-view.selected {
	background-color: #ADD8E6;
}

span.weave-tree-view.open {
	
}
/* The pane for the weave-tree-view */
div.weave-tree-view {

}